@media only screen and (min-width: 1000px) { 
    body {
        margin: 50px auto;
        width: 70%;
        font-size: 12pt;
    }
}

@media only screen and (max-width: 1000px) { 
    body {
    margin: 10px auto;
    width: 90%;
    font-size: 12pt;
    }
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-top: 0px;
}

nav ul li {
    display: block;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #0000FF;
}

nav ul li a{
    padding: 5px;
}

h1 {
    font-size: 22pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 17pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 14pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.2em;
    line-height: 1.1em;
    color: #333;
}

ul.posts { 
    padding: 0;
    margin-top: 20px;
    margin-left: 0px;
}

ul.posts li {
    list-style: none;
    margin-left: 0px; 
}

ul.posts li a{
    font-size: 1.2em;   
}

.flexcontainer {
    display: flex;
    flex-direction: column;    
}

@media only screen and (min-width: 800px) {
    .wrapper .sidebar{
        width: 300px;
        height: 100%;
        background: #FFFFFF;
        padding: 0px 0px;
        position: fixed;  
    }

    .wrapper .container {
        margin-left: 400px;
    }
}

.wrapper .sidebar h1{
  color: #000000; 
}

.wrapper .sidebar ul li:hover a{
  color: #3895D3;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.profile {
    margin-bottom: 20px;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

@media only screen and (max-width: 1000px) { 
    .social {
        border-bottom: 2px solid #d5d5d5;
        margin-bottom: 20px;
    }
}
    
 .social li {
        display: inline;
        margin-right: 10px;
        padding-top: 20px;
 }
    
.social lu {
    display: block;
}

.container {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}

.comment {
	display: block;
	transition: all 1s;
}

.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

.container textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}

button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}
