body {
    margin: 10px auto;
    width: 70%;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-top: 50px;
}

nav ul li {
    display: block;
    margin-top: 20px;
}

nav ul li a{
    padding: 5px;
}

a {
    text-decoration: none;
    color: #072F5F;
}

h1 {
    font-size: 30px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 15px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.2em;
    line-height: 1.1em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.flexcontainer {
    display: flex;
    flex-direction: column;    
}

.wrapper .sidebar{
  width: 300px;
  height: 100%;
  background: #FFFFFF;
  padding: 0px 0px;
  position: fixed;
}

.wrapper .sidebar h1{
  color: #000000; 
}

.wrapper .sidebar ul li a{
  color: 6190FD;
  border-width: 1em;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}
    
.wrapper .sidebar ul li:hover a{
  color: #3895D3;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile {
    margin-bottom: 20px;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.wrapper .container {
    margin-left: 400px;
    margin-top: 100px
}
