<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>  <!-- defines the title of the document. It appears in the browser's title bar. -->
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>	
			<div class="wrapper">
    				<div class="sidebar">
        				<h2>Juan Pablo Conejero</h2>
					<nav>
						<ul>
							<li><a href="/">About me</a></li>
							<li><a href="/cv">CV</a></li>
							<li><a href="/blog">Blog</a></li>
						</ul>
					</nav>

    				</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:juanpablo.conejero@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jpconher">github.com/jpconher</a></li>
				</ul>
			</footer>
		</body>
	</html>
